{% extends 'unit/base.html' %}

{% block content %}
<form action="" method="get">
    <p>製作番号:
        <input  name="query" value="{{ request.GET.query }}" type="text">
       手配番号:
        <input  name="query1" value="{{ request.GET.query1 }}" type="text">
        <button type="submit">検索する</button>
    </p>
</form>
    {% for post in posts %}
        <div class="post">
            <div class="date">
             
            </div>
            
                <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.p_no }}</a> //{{ post.o_no }}</h4>
                <p>出荷日：{{ post.出荷日 }}--{{ post.o_no|linebreaksbr }} {{ post.c_name|linebreaksbr }} 　納期:{{ post.c_date }}</p>
            
        </div>
    {% endfor %}

    {% include 'unit/page.html' %}
{% endblock %}
